<!doctype html>
<html lang="en">
  <head>
  	<title>Llosik Design System</title>
     <link rel="icon" type="image/png" sizes="100x100"  href="../images/favicon-96x96.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- This is where you put your google font in if applicable -->
<!--     <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet"> -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@200;300;400;500;600&display=swap" rel="stylesheet">

<!-- This is the link to the toggle hamburger -->
	 <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
    
    <div class="d-flex">
      <nav id="sidebar">
        <div class="custom-menu">
          <button type="button" id="sidebarCollapse" class="toggle-btn">
              <span class="sr-only">Toggle Menu</span>
                    <div id="nav-icon1" >
                <span></span>
                <span></span>
                <span></span>
              </div>
               </button>
          </div>
		<div class="p-4 pt-6">
		  <a href="../index.html" class="logo"> <img src="../images/logo_w_outline.png" width="200" height="200" alt="logo outlined"> </a>

	       <ul class="list-unstyled components">
	     
	          <li class="active">
	            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Foundations</a>
	            
			            <ul class="collapse list-unstyled" id="homeSubmenu">
		                <li>
		                    <a href="../foundation/type.html">Typography</a>
		                </li>
		                <li>
		                    <a href="../foundation/color.html">Color</a>
		                </li>
		                <li>
		                    <a href="../foundation/logo.html">Logo</a>
		                </li>
			            </ul>
	          </li>
	          
	          <li>
              <a href="#ComponentsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Components</a>
              <ul class="collapse.show list-unstyled" id="ComponentsSubmenu">
               <li>
                    <a href="buttons.html">Buttons</a>
                </li>
                <li>
                    <a href="#">Cards</a>
                </li>
                <li>
                    <a href="navbar.html">Navigation Bar</a>
                </li>
              </ul>
	          </li>

	          <li>
              <a href="#PatternsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Patterns</a>
              <ul class="collapse list-unstyled" id="PatternsSubmenu">
                 <li>
                    <a href="../patterns/pattern1.html">Pattern-1-label</a>
                </li>
                <li>
                    <a href="../patterns/pattern2.html">Pattern-2-label</a>
                </li>
               
              </ul>
	          </li>
	         
	         
	        </ul> 

	      


	      </div>
    	</nav>

        <!-- Page Content  -->
      <div class = "container">
          <div class = "row p-5 pt-6">
            <div id="content">

              <h2>Cards</h2>
              <p>Cards are used for showcasing work projects. </p>

               <hr class="line">
                <div class="divider"> </div>    
                  
                     <div class="row gx-5 gy-5">
                      <div class="col-sm-12 col-md-6 col-lg-4">

                          <div class="card-pr">
                            <div class="placeholder"></div>
                            <h5 class="urbanist-h5">Project Category</h5>
                            <p class="card-text">Role and project description</p>        
                              <div class="StyleButton__container">
                                <a href="#" class="text-decoration-none">
                                  <div>
                                    <svg data-bbox="9 70.9 181 59" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200">
                                      <g>
                                          <path d="M159 70.9l-2.2 2.4L183.6 99H9v3h174.6l-26.2 25.3 2.1 2.6 30.5-29.3-31-29.7z"></path>
                                      </g>
                                    </svg>
                                  </div>
                                </span>
                              </div>

                          </div>


                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                        
                          <div class="card-pr">
                            <div class="placeholder"></div>
                            <h5 class="urbanist-h5">Project Category</h5>
                            <p class="card-text">Role and project description</p>                           
                              <div class="StyleButton__container">
                                <a href="#" class="text-decoration-none">
                                  <div>
                                    <svg data-bbox="9 70.9 181 59" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200">
                                      <g>
                                          <path d="M159 70.9l-2.2 2.4L183.6 99H9v3h174.6l-26.2 25.3 2.1 2.6 30.5-29.3-31-29.7z"></path>
                                      </g>
                                    </svg>
                                  </div>
                                </span>
                              </div>
                            </div>

                          </div>

                          <div class="col-sm-12 col-md-6 col-lg-4">
                        
                          <div class="card-pr">
                            <div class="placeholder"></div>
                            <h5 class="urbanist-h5">Project Category</h5>
                            <p class="card-text">Role and project description</p>                           
                              <div class="StyleButton__container">
                                <a href="#" class="text-decoration-none">
                                  <div>
                                    <svg data-bbox="9 70.9 181 59" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200">
                                      <g>
                                          <path d="M159 70.9l-2.2 2.4L183.6 99H9v3h174.6l-26.2 25.3 2.1 2.6 30.5-29.3-31-29.7z"></path>
                                      </g>
                                    </svg>
                                  </div>
                                </span>
                              </div>

                          </div>
                        </div>
                      </div>
                       <div class="divider"> </div>

              <h3> Accessibility Considerations</h3>
              <p> To ensure accessibility, always include descriptive and meaningful alt text for card images.</p>

               <br>

              <h3> Usage</h3>
              <p> Cards are useed to showcase the preview of work projects. Acrds include hero images, title and short description and link to the individual project page.</p>
              <br>


<h3> Code example</h3>
    <pre>
      <code>
        &lt;div class="row gx-5 gy-5"&gt; 
          &lt;div class="col-sm-12 col-md-6 col-lg-4"&gt; 
            &lt;div class="card-pr"&gt; 
              &lt;div class="placeholder"&gt; &lt;/div&gt; 
              &lt;h5 class="urbanist-h5"&gt; Project Category&lt;/h5&gt; 
              &lt;p class="card-text"&gt; Role and project description&lt;/p&gt;                           
              &lt;div class="StyleButton__container"&gt;
              &lt;a href="#" class="text-decoration-none"&gt;&lt;/div&gt; 
                 &lt;svg data-bbox="9 70.9 181 59" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200"&gt; 
                   &lt;g&gt; 
                  &lt;path d="M159 70.9l-2.2 2.4L183.6 99H9v3h174.6l-26.2 25.3 2.1 2.6 30.5-29.3-31-29.7z"&gt; &lt;/path&gt; 
                   &lt;/g&gt; 
                 &lt;/svg&gt; 
               &lt;/div&gt; 
               &lt;/span&gt; 
            &lt;/div&gt; 
           &lt;/div&gt; 
                    </code>
                  </pre>

    
        </div>      <!-- Content  -->
      </div><!-- Row  -->
    </div><!-- Container -->
</div>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/popper.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/main.js"></script>
  </body>
</html>