<!doctype html>
<html lang="en">
  <head>
  <title>Llosik Design System</title>
     <link rel="icon" type="image/png" sizes="100x100"  href="../images/favicon-96x96.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- This is where you put your google font in if applicable -->
<!--     <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet"> -->

<!-- This is the link to the toggle hamburger -->
<link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@200;300;400;500;600&display=swap" rel="stylesheet">
	 <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/style.css">
  <link  rel="stylesheet"  href="../css/prism.css"/>

  </head>
  <body>
    
    <div class="d-flex">
      <nav id="sidebar">
        <div class="custom-menu">
          <button type="button" id="sidebarCollapse" class="toggle-btn">
              <span class="sr-only">Toggle Menu</span>
                    <div id="nav-icon1" >
                <span></span>
                <span></span>
                <span></span>
              </div>
               </button>
          </div>
		<div class="p-4 pt-6">
		  <a href="../index.html" class="logo"> <img src="../images/logo_w_outline.png" width="200" height="200" alt="logo outlined"> </a>
	       <ul class="list-unstyled components">    
	          <li class="active">
	            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Foundations</a>
	            
			            <ul class="collapse list-unstyled" id="homeSubmenu">
		                <li>
		                    <a href="../foundation/type.html">Typography</a>
		                </li>
		                <li>
		                    <a href="../foundation/color.html">Color</a>
		                </li>
		                <li>
		                    <a href="../foundation/logo.html">Logo</a>
		                </li>
			            </ul>
	          </li>
	          
	          <li>
              <a href="#ComponentsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Components</a>
              <ul class="collapse.show list-unstyled" id="ComponentsSubmenu">
               <li>
                    <a href="#">Buttons</a>
                </li>
                <li>
                    <a href="cards.html">Cards</a>
                </li>
                <li>
                    <a href="navbar.html">Navigation Bar</a>
                </li>
              </ul>
	          </li>

	          <li>
              <a href="#PatternsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Patterns</a>
              <ul class="collapse list-unstyled" id="PatternsSubmenu">
                 <li>
                    <a href="../patterns/home.html">Home</a>
                </li>
                <li>
                    <a href="../patterns/about.html">About</a>
                </li>
               
              </ul>
	          </li>
	         
	         
	        </ul> 

	      


	      </div>
    	</nav>

        <!-- Page Content  -->
      <div class = "container">
           <div class = "row p-5 pt-6">
            <div id="content">
           
              <h2>Buttons</h2>
              <p>In this design system I use arrows as links or buttons, and for secondary button it is arrow inside the colored box for additional attention. </p>

              
              <hr class="line">
              <div class="divider"> </div>  

              <div class="row mb-4">
                <div class="col-2">
                 <h3>Normal</h3>
                </div>

                <div class="col-3">
                 <div class="StyleButton__container"> </div>
                  <a href="#" class="text-decoration-none"></a>
                                    <svg data-bbox="9 70.9 181 59" xmlns="http://www.w3.org/2000/svg" width="150" height="60" viewBox="0 0 200 200">
                                          <path d="M159 70.9l-2.2 2.4L183.6 99H9v3h174.6l-26.2 25.3 2.1 2.6 30.5-29.3-31-29.7z"></path>
                                    </svg>
                </div>

                <div class="col-3"> 
                 <div class="StyleButton__box">
                   <a href="#" class="text-decoration-none"> </a>
                    <svg data-bbox="9 70.9 181 59" xmlns="http://www.w3.org/2000/svg" width="150" height="50" fill="#fff"viewBox="0 0 200 200">
                          <path d="M159 70.9l-2.2 2.4L183.6 99H9v3h174.6l-26.2 25.3 2.1 2.6 30.5-29.3-31-29.7z"></path>
                    </svg>
                 </div>
               </div>
            
             <div class="col-4">
              <p>Use arrow links to indicate the additional information available / MORE </p>
              <p> Buttons are used for indicating actions / SEND </p>
            </div> </div>
        
        <hr>
        <div class="row mb-4">
            <div class="col-2">
              <h3>Hover</h3>
            </div>
            
            <div class="col-3">
              <div class="StyleButton__container"> </div>
                <a href="#" class="text-decoration-none"> </a>
                                    <svg data-bbox="9 70.9 181 59" xmlns="http://www.w3.org/2000/svg" width="180" height="60" fill="#111" viewBox="0 0 200 200">
                                          <path d="M159 70.9l-2.2 2.4L183.6 99H9v3h174.6l-26.2 25.3 2.1 2.6 30.5-29.3-31-29.7z"></path>
                                    </svg>
            </div>

            <div class="col-3"> 
              <div class="StyleButton__box">
                <a href="#" class="text-decoration-none"> </a>
                  
                    <svg data-bbox="9 70.9 181 59" xmlns="http://www.w3.org/2000/svg" width="180" height="50" fill="#fff"viewBox="0 0 200 200">
                          <path d="M159 70.9l-2.2 2.4L183.6 99H9v3h174.6l-26.2 25.3 2.1 2.6 30.5-29.3-31-29.7z"></path>
                    </svg>
              </div>
          </div>
            <div class="col-4">
              <p>Use arrow shift to the rifht to indicate responcive behavior  </p>
            </div> </div>


<hr>
            <div class="row mb-4">
            <div class="col-2">
              <h3>Innactive</h3>
            </div>

            <div class="col-3">
              <div class="StyleButton__container"> </div>
                  <a href="#" class="innactive">
                                    <svg data-bbox="9 70.9 181 59" xmlns="http://www.w3.org/2000/svg" width="150" height="60" fill=" #6f6f6f" viewBox="0 0 200 200">
                                          <path d="M159 70.9l-2.2 2.4L183.6 99H9v3h174.6l-26.2 25.3 2.1 2.6 30.5-29.3-31-29.7z"></path>
                                    </svg>
            </div>

            <div class="col-3"> 
              <div class="StyleButton__box_in">
                <a href="#" class="text-decoration-none"> </a>
                  
                    <svg data-bbox="9 70.9 181 59" xmlns="http://www.w3.org/2000/svg" width="150" height="50" fill="#6f6f6f"viewBox="0 0 200 200">
                          <path d="M159 70.9l-2.2 2.4L183.6 99H9v3h174.6l-26.2 25.3 2.1 2.6 30.5-29.3-31-29.7z"></path>
                    </svg>
              </div>
            </div>

              <div class="col-4">
              <p>Use saturated background and arrow to indicate innactive sate of the arrow and button.</p>
            </div> </div>

        
<hr>

              <!-- Code example - this is what the prism.js and css are for added in this page - replace: all '<' with &lt; and  '>' with &gt; and all quotes with &quot; -->
 <div class="divider"> </div>

<h3> Accessibility Considerations</h3>
<p> Arrows used to direct users to the desired page. Hover action is indicated by the movement of the arrow forward. Keep the contrst for acessability and visibility.</p>
 <br>

<h3> Code Example Primary</h3>
    <pre>
      <code>
        &lt;div class="StyleButton__container"&gt; &lt;/div&gt;
            &lt;a href="#" class="text-decoration-none"&gt; &lt;/a&gt;
                &lt;svg data-bbox="9 70.9 181 59" xmlns="http://www.w3.org/2000/svg" width="150" height="60" viewBox="0 0 200 200"&gt;
                &lt;path d="M159 70.9l-2.2 2.4L183.6 99H9v3h174.6l-26.2 25.3 2.1 2.6 30.5-29.3-31-29.7z"&gt; &lt;/path&gt;
                &lt;/svg&gt;
       </code>
      </pre>  
<br>
      <h3> Code Example Secondary</h3>
    <pre>
      <code>    
         &lt;div class="StyleButton__box_in"&gt;
            &lt;a href="#" class="text-decoration-none"&gt;   
              &lt;svg data-bbox="9 70.9 181 59" xmlns="http://www.w3.org/2000/svg" width="150" height="50" fill="#6f6f6f"viewBox="0 0 200 200"&gt;
              &lt;path d="M159 70.9l-2.2 2.4L183.6 99H9v3h174.6l-26.2 25.3 2.1 2.6 30.5-29.3-31-29.7z"&gt;&lt;/path&gt;
              &lt;/svg&gt;
         &lt;/div&gt;

      </code>
      </pre>                    

<div>
    		             
    
        </div>      <!-- Content  -->
      </div><!-- Row  -->
    </div><!-- Container -->
</div>
      <script src="../js/prism.js"></script> 
    <script src="../js/jquery.min.js"></script>
    <script src="../js/popper.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/main.js"></script>
  </body>
</html>